#search-box-top-container {
	text-align:left;
	clear: both;
	margin-top: 100px;
	display: block;
	width: 900px;
	padding-top: 20px;
	margin: 0px auto;
}

#search_query {
	margin: 18px 0;
	opacity: 0;
}

#search_query .raquo {
	font-size: 16px;
	line-height: 12px;
	font-weight: bold;
	margin-right: 4px;
}

#search_query2 {
	margin: 16px 0;
	opacity: 0;
}

#search_query2 .raquo {
	font-size: 16px;
	line-height: 12px;
	font-weight: bold;
	margin-right: 4px;
}

.VS-interface.ui-autocomplete .ui-menu-item a{
	text-align:left;
}
	
#form-submit {
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	background: #333;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	border: 0px;
	color: #fff !important;
	padding: 5px; font-size : 20px;
	margin: 10px auto;
	width: 200px;
	display: block;
	font-size: 20px;
}

html {
	min-width: 1080px;
}

body {
	background: #fcfcfa;
	color: #333;
	margin: 1em auto 4em auto;
	position: relative;
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
}

h2 {
	margin-top: 2em;
}

h1,h2 {
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

#container {
	width: 1080px;
	margin: 0 auto;
	text-align:left;
}

#main-container {
	float: left;
	width: 800px;
	margin: 0px;
}

#side-container, .side-container {
	font-family: 'Raleway', Helvetica, sans-serif;
	float: left;
	width: 220px;
	margin: 0px;
	word-wrap: break-word;
}


.side-container {
	padding: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.side-container-0 {
	color: #fff;
	background: #5e5ca6;
}

#side-container-1, .side-container-1 {
	background: #1aa1e1;
}
#side-container-2, .side-container-2 {
	background: #a1c4fe;
}

.success {
	background: #a0d3d6;
}

.failure {
	background: #ce5043;
}

a {
	color: steelblue;
}

a:active {
	color: yellow;
}

.limit-values {
	font-weight: bold;
	color: #756bb1;
}

svg {
	/*background-color: rgba(245, 245, 245, 0.952941);*/
	background-color: rgba(255, 255, 255, 1);
}

#annottation div {
	z-index: 100;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

q:before {
	content: "â€œ";
}

q:after {
	content: "â€�";
}

.day {
	fill: #fff;
	stroke: #ccc;
}
.month {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}
.reset {
  padding-left: 1em;
  /*font-size: smaller;*/
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.export_svg{
    position: absolute;
    padding: 3px;
    /*background: #a1c4fe;*/
    background:#fff;
}
.export_svg a {
    color:#333;
}
.export_svg a:hover{
    color:#a1c4fe;
}

.x.axis path {
	display: none;
}

text {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
label{
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 100;
}
label input, label input[type=radio], label input[type=checkbox]{
    padding:0px;
    margin:3px;
}



	