#search-box-top-container{
	clear: both;
	margin-top: 100px;
	display: block;
	width: 900px;
	padding-top: 20px;
	margin: 0px auto;
}
#search_query {
      margin: 18px 0;
      opacity: 0;
    }
#search_query .raquo {
    font-size: 16px;
    line-height: 12px;
    font-weight: bold;
    margin-right: 4px;
}
#search_query2 {
   margin: 16px 0;
   opacity: 0;
}
#search_query2 .raquo {
    font-size: 16px;
    line-height: 12px;
    font-weight: bold;
    margin-right: 4px;
}
  
#form-submit{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
	background: #a1c4fe;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	border:0px;
	color: #fff !important;

	font-size: 20px;
	margin: 10px auto;
	width:200px;
	display:block;
}
      
html {
	min-width: 1080px;
}

body {
	background: #fcfcfa;
	color: #333;
  	margin: 1em auto 4em auto;
  	position: relative;
  	width: 1080px;
  	font-family: "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 12px; 	
}

h1 {
  	font-size: 64px;
  	font-weight: 300;
  	letter-spacing: -2px;
  	margin: .3em 0 .1em 0;
}
h2 {
  	margin-top: 2em;
}
h1, h2{
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}
#container{
	width:1080px;
}
#main-container {
	float:left;
	width:960px;
	margin:0px;
}
#side-container{
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 12px;
	float:left;
	width:220px;
	margin:0px;
	word-wrap: break-word;
}
.side-container {
	padding:5px;
	margin-bottom:5px;
}
#side-container-0{
	font-size:16px;
	color:#fff;
 	background : #5e5ca6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#side-container-1{
 	background : #a1c4fe;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#side-container-3{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.success{
	background : #a0d3d6;
}
.failure{
	background : #ce5043;
}


a {
  color: steelblue;
}
a:active  {
	color:yellow;
}

.limit-values{
	font-weight:bold;
	color:#756bb1;
}

svg {
	background-color: rgba(245, 245, 245, 0.952941);
}
#annottation div{
	z-index:100;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

q:before {
  content: "â€œ";
}

q:after {
  content: "â€�";
}