{% extends "layout.html" %} {% block title %}Correlations{% endblock %}
{% block body %}

<style type="text/css">


.axis {
	shape-rendering: crispEdges;
}

.axis line {
	stroke: #ddd;
	stroke-width: .5px;
}

.axis path {
	display: none;
}

rect.extent {
	fill: #000;
	fill-opacity: .125;
	stroke: #fff;
}

rect.frame {
	fill: #fff;
	fill-opacity: .5;
	stroke: #aaa;
}

circle {
	fill: #ccc;
	fill-opacity: .3;
}

.legend circle {
	fill-opacity: 1;
}

.legend text {
	font-size: 18px;
}

.cell text {
	pointer-events: none;
}
</style>


<div id="container">
	<h1>Explore Correlations</h1>
	<div id="main-container" style="width: 800px;">
		<div id="svg-box"></div>
	</div>
	<div id="side-container">
		<div class="side-container {{message_class}}" id="side-container-3">
		{{message}} <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>. 
		</div>
		<div class="side-container" id="side-container-0">{{title}}</div>
		<div class="side-container" id="side-container-1">
			<p>Use the pointer to select a region and see the corresponding
				distribution of predicates.</p>
		</div>
		<div class="side-container" id="side-container-2">
			Built with <a href="http://d3js.org/">d3.js</a>.
		</div>
	</div>
</div>

<script type="text/javascript">

d3.csv("{{datfile}}", function(data) {

   var fill = d3.scale.category10();
   var labels = d3.keys(d3.nest().key(function (d) { return d.labels; }).map(data));
  // Size parameters.
  var size = 140,
      padding = 10,
      traits = d3.keys(data[0]).filter(function(d) { return d !== "labels"; }),
      n = traits.length;

  // Position scales.
  var x = {}, y = {};
  traits.forEach(function(trait) {
    // Coerce values to numbers.
    data.forEach(function(d) { d[trait] = +d[trait]; });

    var value = function(d) { return d[trait]; },
        domain = [d3.min(data, value), d3.max(data, value)],
        range = [padding / 2, size - padding / 2];
    	x[trait] = d3.scale.linear().domain(domain).range(range);
    	y[trait] = d3.scale.linear().domain(domain).range(range.reverse());
  });

  // Axes.
  var axis = d3.svg.axis()
      .ticks(5)
      .tickSize(size * n);

  // Brush.
  var brush = d3.svg.brush()
      .on("brushstart", brushstart)
      .on("brush", brush)
      .on("brushend", brushend);

  // Root panel.
  var svg = d3.select("#svg-box").append("svg:svg")
      .attr("width", 800)
      .attr("height", 800)
	.append("svg:g")
      .attr("transform", "translate(40,40)");

  // Legend.
  var legend = svg.selectAll("g.legend")
      .data(labels)
    .enter().append("svg:g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + (i * 20 + 594) + ")"; });

  legend.append("svg:circle")
      .style("fill", function(d) { return fill(d); })
      .attr("r", 3);

  legend.append("svg:text")
      .attr("x", 12)
      .attr("dy", ".31em")
      .text(function(d) { return "{{fieldValue}} " + d; });

  // X-axis.
  //svg.selectAll("g.x.axis")
  //    .data(traits)
  //  .enter().append("svg:g")
  //    .attr("class", "x axis")
  //    .attr("transform", function(d, i) { return "translate(" + i * size + ",0)"; })
  //    .each(function(d) { d3.select(this).call(axis.scale(x[d]).orient("bottom")); });

  // Y-axis.
  svg.selectAll("g.y.axis")
      .data(traits)
    .enter().append("svg:g")
      .attr("class", "y axis")
      .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
      .each(function(d) { d3.select(this).call(axis.scale(y[d]).orient("right")); });

  // Cell and plot.
  var cell = svg.selectAll("g.cell")
      .data(cross(traits, traits))
    .enter().append("svg:g")
      .attr("class", "cell")
      .attr("transform", function(d) { return "translate(" + d.i * size + "," + d.j * size + ")"; })
      .each(plot);

  // Titles for the diagonal.
  cell.filter(function(d) { return d.i == d.j; }).append("svg:text")
      .attr("x", padding)
      .attr("y", padding)
      .attr("dy", ".71em")
      .text(function(d) { return d.x; });

  function plot(p) {
    var cell = d3.select(this);

    // Plot frame.
    cell.append("svg:rect")
        .attr("class", "frame")
        .attr("x", padding / 2)
        .attr("y", padding / 2)
        .attr("width", size - padding)
        .attr("height", size - padding);

    // Plot dots.
    cell.selectAll("circle")
        .data(data)
      .enter().append("svg:circle")
        .style("fill", function(d) { return fill(d['labels']); })
        .style("fill-opacity", 1)
        .attr("cx", function(d) { return x[p.x](d[p.x]); })
        .attr("cy", function(d) { return y[p.y](d[p.y]); })
        .attr("r", 3);

    // Plot brush.
    cell.call(brush.x(x[p.x]).y(y[p.y]));
  }

  // Clear the previously-active brush, if any.
  function brushstart(p) {
    if (brush.data !== p) {
      cell.call(brush.clear());
      brush.x(x[p.x]).y(y[p.y]).data = p;
    }
  }

  // Highlight the selected circles.
  function brush(p) {
    var e = brush.extent();
    svg.selectAll(".cell circle")
    .style("fill", function(d) {
      return e[0][0] <= d[p.x] && d[p.x] <= e[1][0]
          && e[0][1] <= d[p.y] && d[p.y] <= e[1][1]
          ? fill(d['labels']): '#eee';
    })
    .style("fill-opacity", function(d) {
      return e[0][0] <= d[p.x] && d[p.x] <= e[1][0]
          && e[0][1] <= d[p.y] && d[p.y] <= e[1][1]
          ? 1: 0.5;
    });
  }

  // If the brush is empty, select all circles.
  function brushend() {
    if (brush.empty()) svg.selectAll(".cell circle") 
    .style("fill", function(d) { return fill(d['labels']); });
  }

  function cross(a, b) {
    var c = [], n = a.length, m = b.length, i, j;
    for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
    return c;
  }
});
</script>


{% endblock %}
