{% extends "layout.html" %} 
{% block title %}Fields{% endblock %}
{%block body %}


<div id="container">
	<h1>Explore Field</h1>
	<div id="main-container" style="width: 800px;">
		<div id="svg-box"></div>
		<div style="padding: 10px;">
			<input type="hidden" value="40" id="slider1" />
		</div>
	</div>
	<div id="side-container">
		<div class="side-container {{message_class}}" id="side-container-3">
		{{message}} <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>. 
		</div>
		<div class="side-container" id="side-container-0">{{title}}</div>
		<div class="side-container" id="side-container-1">
			<p>Relative frequency of field values .</p>
		</div>
		<div class="side-container" id="side-container-2">
			Built with <a href="http://d3js.org/">d3.js</a>.
		</div>
	</div>
</div>


<script>
    var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));

    d3.select("svg").remove();

    var diameter = 800, format = d3.format(",d"), color = d3.scale
            .category20c();

    var bubble = d3.layout.pack().sort(null).size([ diameter, diameter ])
            .padding(1.5);


    var svg = d3.select("#svg-box").append("svg").attr("width", diameter)
            .attr("height", diameter).attr("class", "bubble");

    d3.json("{{datfile}}", function(error, root) {

        var node = svg.selectAll(".node").data(
                bubble.nodes(classes(root)).filter(function(d) {
                    return !d.children;
                })).enter().append("g").attr("class", "node").attr(
                "transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });



        node.append("circle").attr("r", function(d) {
            return d.r;
        }).style("fill", function(d) {
            return color(d.packageName);
        });

        node.append("title").text(function(d) {
            return d.className + " : " + format(d.value);
        });

        node.append("text").attr("dy", ".3em").style("text-anchor",
                "middle").text(function(d) {
            return d.className;
        });

        spinner.stop();
        init_svg_conversion();
    });

    // Returns a flattened hierarchy containing all leaf nodes under the root.
    function classes(root) {
        var classes = [];

        function recurse(name, node) {
            if (node.children)
                node.children.forEach(function(child) {
                    recurse(node.name, child);
                });
            else
                classes.push({
                    packageName : name,
                    className : node.name,
                    value : node.size
                });
        }

        recurse(null, root);
        return {
            children : classes
        };
    }

</script>
{% endblock %}
