{% extends "layout.html" %} {% block title %}Distribution{% endblock %}
{% block body %}

<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

<style>
.bar {
	fill: steelblue;
	fill-opacity: .9;
}

.x.axis path {
	display: none;
}

.axis text {
	font: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
</style>

<h1>Explore Bar Chart</h1>
<div id="container">
	<div id="main-container" style="width: 800px;">
		<div id="svg-box"></div>
	</div>
	<div id="side-container">
		<div class="side-container {{message_class}}" id="side-container-3">
		{{message}} <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>.
            <p>You may export as an image <a href="#" id="editor_save" title="Data file">here</a>.
		</div>
		<div class="side-container" id="side-container-0">{{title}}</div>
		<div class="side-container" id="side-container-1">
			<p>Relative values in bar chart.</p>
			<span><label><input type="checkbox"> Sort values</label></span>
		</div>
		<div class="side-container" id="side-container-2">
			Built with <a href="http://d3js.org/">d3.js</a>.
		</div>
	</div>

    <canvas id="canvas" width="1000px" height="600px" style="visibility:hidden;"></canvas>
</div>


<script>
	var margin = {top : 20, right : 20,bottom : 80,left : 80},
		width = 800 - margin.left - margin.right, 
		height = 600 - margin.top - margin.bottom;

	//var formatPercent = d3.format(".");

	var x = d3.scale.ordinal().rangeRoundBands([ 0, width ], .1, 1);
	var y = d3.scale.linear().range([ height, 0 ]);

	var xAxis = d3.svg.axis().scale(x).orient("bottom");
	var yAxis = d3.svg.axis().scale(y).orient("left");

	var svg = d3.select("#svg-box").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height",height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));
	d3.csv("{{datfile}}", function(error, data) {
		var l = data.length;
		data.forEach(function(d) { d.frequency = +d.frequency; });
		x.domain(data.map(function(d) { return d.letter; }));
		y.domain([ 0, d3.max(data, function(d) { return d.frequency;}) ]);

		svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis)
			.selectAll("text")
			.style("text-anchor", "end")
			.attr("dx", "-.8em")
			.attr("dy", ".15em")
			.attr("transform", function(d) {
				return "rotate(-" + Math.min(90, 90 * Math.max(l - 10, 1) / 50)+ ")"
			});

		svg.append("g").attr("class", "y axis").call(yAxis)
			.append("text")
			.attr("transform", "rotate(-90)").attr("y", 6)
			.attr("dy", ".71em")
			.style("text-anchor", "end").text("{{fieldY}}");

		svg.selectAll(".bar").data(data).enter().append("rect")
			.attr("class", "bar")
			.attr("x", function(d) { return x(d.letter);})
			.attr("width", x.rangeBand())
			.attr("y", function(d) { return y(d.frequency);})
			.attr("height", function(d) { return height - y(d.frequency);});

		d3.select("input").on("change", change);

		var sortTimeout = setTimeout(function() {
			d3.select("input").property("checked", true).each(change);
		}, 1000);

		function change() {
			clearTimeout(sortTimeout);

			// Copy-on-write since tweens are evaluated after a delay.
			var x0 = x.domain(
					data.sort(
							this.checked ? function(a, b) {
								return b.frequency - a.frequency;
							} : function(a, b) {
								return d3.ascending(a.letter, b.letter);
							}).map(function(d) {
						return d.letter;
					})).copy();

			var transition = svg.transition().duration(750), delay = function(d, i) {return i * 50;};

			transition.selectAll(".bar").delay(delay).attr("x",function(d) {return x0(d.letter);});

			transition.select(".x.axis").call(xAxis)
				.selectAll("text")
					.style("text-anchor", "end")
					.attr("dx", "-.8em")
					.attr("dy", ".15em")
				.selectAll("g")
					.delay(delay);
		}
	    spinner.stop();init_svg_conversion();
	});


	/**
     * Converts an SVG element to an IMG element with the same dimensions
     * and same visual content. The IMG src will have a temporary blob URL.
     * Works in Webkit and Firefox and IE10+.
     */
    $.fn.toImage = function() {
        $(this).each(function() {
            var svg$ = $(this);
            var width = svg$.width();
            var height = svg$.height();

            // Create a blob from the SVG data
            var svgData = new XMLSerializer().serializeToString(this);
            var blob = new Blob([svgData], { type: "image/svg+xml;charset=utf-8" });

            // Get the blob's URL
            var blobUrl = (self.URL || self.webkitURL || self).createObjectURL(blob);

            // Load the blob into an image
            $('<img />')
                .width(width)
                .height(height)
                .on('load', function() {
                    // Overwrite the SVG tag with the img tag
                    svg$.replaceWith(this);
                })
                .attr('src', blobUrl);
        });
    };

</script>
{% endblock %}
