{% extends "layout.html" %}
{% block title %}Scatter Plot{% endblock %}
{% block body %}

<link href="static/css/nv.d3.css" rel="stylesheet" type="text/css">
<script src="static/js/nv.d3.min.js"></script>

<style>
	svg {
  		overflow: hidden;
  		height:800px;
  		width:800px;
	}
</style>


<div id="container">
<h1>Explore Scatter</h1>	
<div id="main-container" style="width:800px;"><div id="svg-box"><svg></svg></div></div>
<div  id="side-container">
<div  class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
<div class="side-container" id="side-container-0">{{title}}</div>
<div class="side-container" id="side-container-1"  >
	<p>Color corresponds to {{field4}}, and Size represents {{field3}}</p> 
</div>
<div  class="side-container" id="side-container-2">Built with <a href="http://d3js.org/">d3.js</a>.</div>
</div>
</div>

<script>
 nv.addGraph(function() {
 	var shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'],
 		margin = {top: 20, right: 20, bottom: 40, left: 60},
	    width = 800,
	    height = 800;
	
 	var chart = nv.models.scatterChart()
 		.showDistX(true)
 		.showDistY(true)
		.width(width)
		.height(height)
		.margin(margin)
		.useVoronoi(false)
 		.color(d3.scale.category10().range());
 
 	chart.tooltipContent(function(key) {
 	      return '<h3>' + key + '</h3>';
 	  });

  	var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));
 	d3.csv("{{datfile}}", function(error, data) {
 		fd = {};
	  	data.forEach(function(d) {
	  		if (!(d.c in fd)){
	  			fd[d.c] = {key:d.c, values:[]};
	  		}
  			d.y = +d.y;
    		d.x = +d.x;
    		d.size = +d.z;
    		d.shape = shapes[0];
  			fd[d.c].values.push(d);
	  	});
	  	var dx = -1*Math.log((d3.max(data, function(d){ return d.x;}) - d3.min(data, function(d){ return d.x;}))/10) / Math.LN10,
	  		dy = -1*Math.log((d3.max(data, function(d){ return d.y;}) - d3.min(data, function(d){ return d.y;}))/10) / Math.LN10,
	  		minz = d3.min(data, function(d){ return d.z;}),
	  		maxz = d3.max(data, function(d){ return d.z;});
	  	dx = Math.max(0, Math.round(dx)),
	  	dy = Math.max(0, Math.round(dy));
	  	
	  	chart.xAxis.tickFormat(d3.format('.' + dx + 'f'));
	 	chart.yAxis.tickFormat(d3.format('.' + dy +  'f'));
	 	
	 	
		d3.select('#svg-box svg')
			.datum(d3.values(fd))
			.transition().duration(500)
			.call(chart);
		
		spinner.stop();init_svg_conversion();
	});
 	
	chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });
	nv.utils.windowResize(chart.update);
	return chart;
});

</script>
{% endblock %}