{% extends "layout.html" %}
{% block title %}Field by Year{% endblock %}
{% block body %}

	<link type="text/css" rel="stylesheet" href="static/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="static/rickshaw/rickshaw.min.css">
	<link type="text/css" rel="stylesheet" href="static/rickshaw/css/extensions.css">

	<script src="static/jquery.min.js"></script>
	<script src="static/jquery-ui.min.js"></script>
	<script src="static/rickshaw/rickshaw.min.js"></script>
	<script src="static/rickshaw/js/extensions.js"></script>
	
<style>

    .ui-slider .ui-slider-handle {
		width: 12px; border-radius: 2px; 
		border: 1px solid #adadad; height: 16px; 
		background-color: #efefef; cursor: pointer; 
	}
	.ui-slider-horizontal {
		 background-color: #aaa; height: 1px; border-bottom: 1px solid #efefef;
	}

	.side-container {
		width:240px;
	}
	#side-container-4{
		background:#cbcbcb;
	}
	section{
		border:0px;
		padding:5px 0;
	}
	#legend{
		background:inherit;
		height:inherit;
	}
	#side_panel{
		padding:0px;
	}
</style>

<h1>Explore Field by Year</h1>
<div id="container">
	
<div id="main-container" style="width:800px;">
	
<div id="svg-box"></div>
<div id="timeline" class="rickshaw_annotation_timeline"></div>
<div id="slider" style="width: 800px;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
<div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div>
<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
</div>
</div>
<div  id="side-container">
<div class="side-container" id="side-container-0">{{title}}</div>
<div class="side-container" id="side-container-1"  >
	<p>Use the controls to make selection. Hover over to see it's value.</p> 
</div>
<div class="side-container" id="side-container-4"  >
	<form id="side_panel">
		<section>
			<div id="renderer_form" class="toggler">
				<input type="radio" name="renderer" id="area" value="area" >
				<label for="area">area</label>
				<input type="radio" name="renderer" id="bar" value="bar">
				<label for="bar">bar</label>
				<input type="radio" name="renderer" id="line" value="line" checked="">
				<label for="line">line</label>
				<input type="radio" name="renderer" id="scatter" value="scatterplot">
				<label for="scatter">scatter</label>
			</div>
		</section>
		<section>
			<div id="offset_form">
				<label for="stack">
					<input type="radio" name="offset" id="stack" value="zero" >
					<span>stack</span>
				</label>
				<label for="stream">
					<input type="radio" name="offset" id="stream" value="wiggle">
					<span>stream</span>
				</label>
				<label for="pct">
					<input type="radio" name="offset" id="pct" value="expand">
					<span>pct</span>
				</label>
				<label for="value">
					<input type="radio" name="offset" id="value" value="value" checked="">
					<span>value</span>
				</label>
			</div>
			<div id="interpolation_form">
				<label for="cardinal">
					<input type="radio" name="interpolation" id="cardinal" value="cardinal" checked="">
					<span>cardinal</span>
				</label>
				<label for="linear">
					<input type="radio" name="interpolation" id="linear" value="linear">
					<span>linear</span>
				</label>
				<label for="step">
					<input type="radio" name="interpolation" id="step" value="step-after">
					<span>step</span>
				</label>
			</div>
		</section>
		<section>
			<h6>Smoothing</h6>
			<div id="smoother" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a></div>
		</section>
		<section><h6>Legend</h6><div id="legend"></div></section>
	</form>
</div>
<div  class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
<div  class="side-container" id="side-container-2">Built with <a href="http://d3js.org/">d3.js</a>.</div>
</div>
</div>


<script>

	var palette = new Rickshaw.Color.Palette( { scheme: 'spectrum2000' } );

	
	d3.text('{{datfile}}', 'text/csv', function(text) {
	    var data = d3.csv.parseRows(text);

	    var years = data[0].slice(1, data[0].length);	    
	    for (i=0; i<years.length; i++){
	    	var d = new Date();
	    	d.setFullYear(+years[i]);
	    	years[i] = d.getTime() / 1000;
	    }
	    
	    var series = [];
	    for (i=1; i < data.length; i++) {
	        var values = data[i];
	        var currData = [];
	        for (j=1; j < values.length; j++) {
	            if (values[j] != '') {
	                currData.push({ x: years[j-1], y: +values[j] });
	        	}
	        	else{
	        		 currData.push({ x: years[j-1], y: 0 });
	        	}
	       }
	        series.push({
				color: palette.color(),
				data: currData,
				name: values[0]
			})
	    }
	    
	    var graph = new Rickshaw.Graph( {
			element: document.getElementById("svg-box"),
			width: 800,
			height: 500,
			renderer: 'line',
			stroke: true,
			preserve: true,
			series: series
		} );
	    
			    
			    
		graph.render();
		
		var slider = new Rickshaw.Graph.RangeSlider( {
			graph: graph,
			element: $('#slider')
		} );
		
		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
			graph: graph,
			xFormatter: function(x) {
				return new Date(x * 1000).toString();
			}
		} );
		
		var annotator = new Rickshaw.Graph.Annotate( {
			graph: graph,
			element: document.getElementById('timeline')
		} );
		
		var legend = new Rickshaw.Graph.Legend( {
			graph: graph,
			element: document.getElementById('legend')
		
		} );
		
		var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
			graph: graph,
			legend: legend
		} );
		
		var order = new Rickshaw.Graph.Behavior.Series.Order( {
			graph: graph,
			legend: legend
		} );
		
		var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
			graph: graph,
			legend: legend
		} );
		
		var smoother = new Rickshaw.Graph.Smoother( {
			graph: graph,
			element: $('#smoother')
		} );
		
		var ticksTreatment = 'glow';
		
		var xAxis = new Rickshaw.Graph.Axis.Time( {
			graph: graph,
			ticksTreatment: ticksTreatment,
			timeFixture: new Rickshaw.Fixtures.Time.Local()
		} );
		
		xAxis.render();
		
		var yAxis = new Rickshaw.Graph.Axis.Y( {
			graph: graph,
			tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
			ticksTreatment: ticksTreatment
		} );
		
		yAxis.render();
		
		
		var controls = new RenderControls( {
			element: document.getElementById('side_panel'),
			graph: graph
		} );
		
	    
	    
	});  




</script>
{% endblock %}