{% extends "layout.html" %}
{% block title %}Diff series{% endblock %}
{% block body %}

<style>
.area.above {
    fill: rgb(158, 202, 225);
}
.area.below {
    fill: rgb(8, 81, 156);
}
.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}
</style>

<div id="container">
    <h1>Explore Diff</h1>
    <div id="main-container">
        <div id="svg-box"></div>
    </div>
    <div id="side-container">
        <div class="side-container {{message_class}}" id="side-container-3">
            {{message}}
            <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>. 
        </div>
        <div class="side-container" id="side-container-0">{{title}}</div>
        <div class="side-container" id="side-container-2">
            Built with <a href="http://d3js.org/">d3.js</a>
        </div>
    </div>
</div>

<script>
    function isNumber(n) { return !isNaN(parseFloat(n)) && isFinite(n);}
    var str2int = function(d) { return +d; };
    var date2int = function(d) { d = d.split(/[- :]/); return (new Date(d[0], d[1] - 1, d[2])).getTime();};
    var time2int = function(d) {d = d.split(/[- :]/); return new Date(d[0], d[1] - 1, d[2], d[3], d[4], d[5]).getTime();};
    var month2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, 0));};
    
    var margin = {top : 20, right : 20, bottom : 30, left : 50},
        width = 960 - margin.left - margin.right, 
        height = 500 - margin.top - margin.bottom;

    var svg = d3.select("#svg-box").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height",height + margin.top + margin.bottom)
        .append("g")
            .attr("transform","translate(" + margin.left + "," + margin.top + ")");

    var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));
    d3.csv("{{datfile}}", function(error, data) {

        // identify x axis
        var parseX = str2int;
        var XisInt = 1
        if (!isNumber(data[1].Date)) {
            var lx = data[1].Date.split(/[- :]/).length;
            if (lx >= 6) {
                parseX = time2int;
                XisInt = 0;
            } else if (lx >= 3) {
                parseX = date2int;
                XisInt = 0;
            }
            else if (lx >= 2){
                parseX = month2int;
                type = 3; // date
            }
        }

        if (XisInt)
            var x = d3.scale.linear().range([ 0, width ]);
        else
            var x = d3.time.scale().range([ 0, width ]);
            
        var y = d3.scale.linear().range([ height, 0 ]);
        var xAxis = d3.svg.axis().scale(x).orient("bottom");
        var yAxis = d3.svg.axis().scale(y).orient("left");

        var line = d3.svg.area().interpolate("basis")
            .x(function(d) { return x(d.date);})
            .y(function(d) {return y(d["A"]);});

        var area = d3.svg.area().interpolate("basis")
            .x(function(d) {return x(d.date);})
            .y1(function(d) {return y(d["A"]);});

        data.forEach(function(d) {
            d.date = parseX(d.Date);
            d["A"] = +d["A"];
            d["B"] = +d["B"];
        });

        x.domain(d3.extent(data, function(d) {
            return d.date;
        }));

        y.domain([ d3.min(data, function(d) {
            return Math.min(d["A"], d["B"]);
        }), d3.max(data, function(d) {
            return Math.max(d["A"], d["B"]);
        }) ]);

        svg.datum(data);

        svg.append("clipPath").attr("id", "clip-below").append("path").attr(
                "d", area.y0(height));

        svg.append("clipPath").attr("id", "clip-above").append("path").attr(
                "d", area.y0(0));

        svg.append("path").attr("class", "area above").attr("clip-path",
                "url(#clip-above)").attr("d", area.y0(function(d) {
            return y(d["B"]);
        }));

        svg.append("path").attr("class", "area below").attr("clip-path",
                "url(#clip-below)").attr("d", area);

        svg.append("path").attr("class", "line").attr("d", line);

        svg.append("g").attr("class", "x axis").attr("transform",
                "translate(0," + height + ")").call(xAxis);

        svg.append("g").attr("class", "y axis").call(yAxis).append("text")
                .attr("transform", "rotate(-90)").attr("y", 6).attr("dy",
                        ".71em");

        var color = function(d) {
            return (d == 'above') ? '#9ECAE1' : '#08519C';
        };

        var legend = svg.selectAll(".legend").data([ 'above', 'below' ])
                .enter().append("g").attr("class", "legend").attr("transform",
                        function(d, i) {
                            return "translate(0," + i * 20 + ")";
                        });

        legend.append("rect").attr("x", width + 14).attr("width", 18).attr(
                "height", 18).style("fill", color);

        legend.append("text").attr("x", width + 10).attr("y", 9).attr("dy",
                ".35em").style("text-anchor", "end").text(function(d) {
            return d;
        });
            spinner.stop();init_svg_conversion();
    });
</script>
{% endblock %}
