{% extends "layout.html" %} 
{% block title %}Explore{% endblock %}
{% block body %}

<script src="static/js/nv.d3.min.js"></script>
<link href="static/css/nv.d3.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
<script type="text/javascript" src="static/js/dc.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.3/dc.min.css" rel="stylesheet" type="text/css">

<script src="static/js/d3.layout.cloud.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&sensor=false&libraries=visualization"></script>

<script type="text/javascript" src="static/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="static/css/bootstrap-multiselect.css" type="text/css"/>

<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="static/css/rickshaw.min.css">
<link type="text/css" rel="stylesheet" href="static/css/extensions.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="static/js/rickshaw.min.js"></script>
<script src="static/js/extensions.js"></script>

<link rel=stylesheet href=/static/css/colorbrewer.css type=text/css>

<style>
#container {
	margin:0 auto;
	display:inline-block;
	text-align:left;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding:0px;
}
#svg-box .svg-box{
	width:960px;
	float:left;
}
.side-container{
	width:240px;
	float:left;
}
#ex-sidebar{
    width:100px;
}
.ex-nav .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}
.ex-nav li {
	float: right;
	line-height: 1.4;
	text-align: center;
}
.ex-nav li a{
	color:#666;
	background-color: #f9f9f9;
	border: 1px solid #eee;
	width:60px;
	height:60px;
	border-radius:30px;
	margin-bottom:10px;
}
.ex-nav li a:hover{
    color:#000;
    background:#fff;
    border-color:#000;
}
.ex-nav li a.sidebar-on{
	color:#fff;
	background:#00b9e7;
	border-color:#fff;
}
#top{
	background:none;
}
.btn {
	padding: 2px 10px;
	font-size: 12px;
}


.svg-box{
	margin-bottom: 10px;
}
.title{
	padding: 5px 5px 5px 0px;
	background: #f9f9f9;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}
.select-fields{
	padding:5px;
	background: #eee;
}

a.g-collapse {
	color: #000;
	padding: 5px;
	margin-right: 10px;
}
a.g-collapse:hover, a.g-collapse.off{
	background: #00b9e7;
	color: #fff;
}
.svg-box div.chart, .svg-box div.dc-chart{
  	padding:0px;
  	margin-bottom: 10px;
}
.dc-chart{
	margin-left:2px;
}
.dc-chart g.row text {
    fill: #000;
}
.chart div{
	padding:5px;
}
.select-charts{
	float: right;
}

section {
    border: none;
    padding: 5px 0;
}
.rickshaw_legend {
    color: #333;
    background:#fff;
    padding:2px;
    overflow:hidden;
}
.export_svg {
    background: none;
}
</style>

<a name="top" ></a>
<div id="container" style="width:1300px; margin:0 auto;">
    <h1>Explore Dashboard</h1>
    <div class="col-md-1">
      <ul class="nav ex-nav" id="ex-sidebar" data-spy="affix" data-offset-top="20" ></ul>
    </div>
    <div class="col-md-9" role="main">
    	<div id="ex-main-container">
    		<div id="svg-box">
    		    <div id="svg-box-dashboard" class="svg-box"></div>
    		</div>
    	</div>
    </div>
    <div class="col-md-2">
        <div id="side-container" data-spy="affix" data-offset-top="20">
            <div class="side-container {{message_class}}" id="side-container-3">
            {{message}} <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>.
            </div>
            <div class="side-container" id="side-container-0">{{title}}</div>
            <div id="dashboard-side-container-m" class="side-container side-container-1"></div>
        </div>
    </div>
</div>


<script>
	var bigdata,
		keys = [], types = {},
		modules = {'calendar':{'icon': 'calendar', 'fields':['date']},
					'map_heatmap':{'icon': 'globe', 'fields':['latitude', 'longitude']},
					'map_scatter':{'icon': 'flag', 'fields':['latitude', 'longitude', 'size', 'group', 'text-']},
					'series':{'icon': 'flash', 'fields':['Xaxis', 'fields']},
					'scatter':{'icon': 'th', 'fields':['Xaxis', 'Yaxis', 'Group', 'Shape-', 'Size-']},
					'word':{'icon': 'text-height', 'fields':['Text']}
					};

    //sidebar
    for (var m in modules){
        $('#ex-sidebar').append('<li class=""><a title="'+ m +'" id="ex-' + m + '"><span class="glyphicon glyphicon-' + modules[m]['icon'] +  '"></span></a></li>');
        
		// initialize options
		modules[m]['count'] = 0;
		modules[m]['variables'] = {};
		modules[m]['visible'] = false;
		
		for (var i; i < modules[m]['fields'].length; i++){
		    var c = modules[m]['fields'][i];
			modules[m]['variables'][c] = undefined;
		}
    }
    
    $('#ex-sidebar li a').click(function (){
        var m = $(this).attr('id').split('-')[1]; 
        modules[m]['visible'] = !modules[m]['visible']; 
        $('#svg-box-' + m).toggle();
        $('#' + m + '-side-container-m').toggle();
        $(this).toggleClass('sidebar-on');
        $.getScript("static/js/ex." + m + ".js", function(){ init(m);}) //load sub module and init
        update_url();
    });
    $('#ex-sidebar').append('<li class=""><a href="javascript:window.scrollTo(0,0);" id="top" title="go to top"><span class="glyphicon glyphicon-home"></span></a></li>');

    var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));

    //data
	d3.csv("{{datfile}}", function(error, data) {
		data.forEach(function(d){ d.all = 1;})
		for (var key in data[0]) {
		    keys.push(key);
		    types[key] = 1;
		}
		for (var i = 0; i < data.length; i++){
			data[i].cf_id = i;
		}
        var sr = data[0],
	  		str2str = function (d) {return d;},
	  		str2int = function (d) {return +d;},
	  		month2int = function (d) { d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, 0));},
	  		date2int = function (d) { d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, d[2]));},
	  		time2int = function (d) { d = d.split(/[- :]/);  return new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);};
			isNumber = function (n) { return !isNaN(parseFloat(n)) && isFinite(n);};
        for (var j = 0; j < keys.length; j++){
		    var k = keys[j], parseX = str2int, type = 1; // type1:int,type2:str,type3:date
            if (!isNumber(sr[keys[j]])){
                var lx = sr[keys[j]].split(/[- :]/).length;
                if (lx >=6){
                    parseX = time2int;
                    type = 3;
                }
                else if (lx >= 3) {
                    parseX = date2int;
                    type = 3;
                }
                else if (lx >= 2) {
                    parseX = month2int;
                    type = 3;
                }
                else {
                    parseX = str2str;
                    type = 2;
                }

                if (type == 3){
                    if (!(typeof parseX(sr[keys[j]]).getMonth === 'function') || parseX(sr[keys[j]]).toString() === "Invalid Date"){
                        parseX = str2str;
                        type = 2;
                    }
                }
            }
            types[keys[j]] = type;
            for(var di = 0; di < data.length; di++){
                data[di][keys[j]] = parseX(data[di][keys[j]]);
            }
		}

		flight = crossfilter(data);
  		all = flight.groupAll();

		//dashboard	
		modules['dashboard'] = {};
		var config = modules['dashboard']; 
		var chartNames = ['barChart', 'rowChart', 'pieChart'];
		config['DchartTypes'] = [];
		
		// title and chart types for each of the crossfilter charts
		for (var j=0; j < keys.length; j++){
			if (keys[j] == 'all')
			    continue;

			// chart types
			var strhtml = '<span class="select-charts">Pick a different <span class="dropdown">'
				+ '<a id="dropdown-chart-' + j + '" role="button" data-toggle="dropdown" href="#"> chart <span class="caret"></span></a>'
				+ '<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-chart-' + j + '" id="ex-dashboard-chart-' + j + '"></ul>'
				+ '</span></span>';

		    // title bar
			$("#svg-box-dashboard")
				.append($('<div id="'+keys[j]+'-dchart">')
					.append($('<div class="title">')
						.append('<a class="g-collapse" href="#"><span class="glyphicon glyphicon-resize-small" title="collapse/expand"></span></a>')
						.append(keys[j])
						.append(' | Current filter: <span class="filter"></span>'
							+' | <a class="reset" href="javascript:reset(' + j + ');dc.redrawAll();" title="reset selections">reset</a>'
							+ strhtml)));

            // chart types
			for (var i = 0; i < chartNames.length; i++) {
				$('#ex-dashboard-chart-' + j).append($('<li>').append($('<a href="#">').append(chartNames[i])));
			}
			config['DchartTypes'][j] = "barChart";
		}

		// change chart type
		$(".select-charts .dropdown .dropdown-menu li a").click(function(){
			iid = $(this).parent().parent().attr('id');
			iid = iid.split('-')[3];
			config['DchartTypes'][iid] = $(this).text();
			var oldbar = charts[iid],
				chart = dc[$(this).text()]("#"+keys[iid]+"-dchart"),
				bar = draw_charts(chart, $(this).text(), oldbar.dimension(), oldbar.group(), oldbar.x(), oldbar.xUnits());
			bar.render(); 
		});

		// totals place holder
		$('#dashboard-side-container-m').html('<p id="totals"><span class="filter-count"></span> selected out of <span class="total-count"></span> records.</p>');
	    dc.dataCount("#totals").dimension(flight).group(all);

		// construct cross filter charts
	  	var num_bins = 100, 
			charts = [],
			createChart = function(j, keys) {
				var k = keys[j], parseX = str2int, type = 1; // type1:int,type2:str,type3:date

				var maxX = d3.max(data, function(d){return d[k];}),
					minX = d3.min(data, function(d){return d[k];}),
					row = flight.dimension(function(d) { return d[k]; }),
					dxx = (maxX-minX)/Math.min(num_bins, row.group().size()),
					groupint = function (d) {return Math.floor(d / dxx) * dxx;},
					xunit = function (start, stop, step) {return (stop-start)/dxx},
				 	chartID = "#" + keys[j] + "-dchart";
					
				if (types[k] == 1) {
					group = row.group(function(d) { return groupint(d); });
					x = d3.scale.linear().domain([minX, maxX]);
				}else if (types[k] == 3) {
					group = row.group(function(d) { return groupint(d); });
					x = d3.time.scale().domain([minX, maxX]); 
				}else if (types[k] == 2){
					group = row.group();
					xunit = dc.units.ordinal;
					x = d3.scale.ordinal();
					config['DchartTypes'][j] = 'pieChart';
				}
				
				if (group.size() < 5) {
					config['DchartTypes'][j] = 'rowChart';
				}
				
				var bar = dc[config['DchartTypes'][j]](chartID);
			 	return draw_charts(bar, config['DchartTypes'][j], row, group, x, xunit); 
			};

	  	for (var j = 0; j < keys.length; j++){
			charts.push(createChart(j, keys));
	  	}
	  	bigdata = data;
	  	
	  	charts[0].renderlet(function(chart){
	  	    dc.events.trigger(function(){
	  	        for (key in modules){
	  	        	if (modules[key]['count']%2 == 1){
	  	        		window[key + "_update"]();
	  	        	}
	  	        }
	  	    });
	  	})
	  	
	  	// collapse button
	  	$('.g-collapse').click(function(){
	  		if($(this).hasClass('off')){
	  			$(this).html('<span class="glyphicon glyphicon-resize-small"></span>');
	  			$(this).parent().parent().find("svg").animate({height: 150}, 200);
	  		}
	  		else {
	  			$(this).html('<span class="glyphicon glyphicon-resize-full"></span>');
	  			$(this).parent().parent().find("svg").animate({height: 1}, 200);
	  		}
	  		$(this).toggleClass('off');
	  	});
	  	
		dc.renderAll();

		window.reset = function(i) {
		    charts[i].filter(null);
		};
		
		
		// load modules based on URL
        var mquery = parseUri(document.location.search).queryKey['modules'];
        if (typeof mquery === 'string' && mquery.length > 0) {
        	mquery = JSON.parse(decodeURI(mquery));
            for (m in mquery){
                modules[m]['variables'] = mquery[m];
                $('#ex-' + m).click();
            }
        }

        spinner.stop();
        //init_svg_conversion();

		function draw_charts(chart, type, dimension, group, x, xunit) {
			switch(type){
				case 'rowChart':
					chart.height(150).width(478)
			        .margins({top: 20, left: 10, right: 10, bottom: 20})
			        .label(function (d) {return d.key;})
			        .title(function (d) {return d.value;})
			        .elasticX(true).xAxis().ticks(4);
					break;
				case 'pieChart':
					chart.slicesCap(8).innerRadius(30).radius(70).transitionDuration(500)
					.height(150).width(478).legend(dc.legend())
					.title(function (d) {return d.value;});
					break;
				default:
					chart.height(150).width(960)
			        .margins({top: 10, right: 10, bottom: 30, left: 50})
			        .centerBar(true)
			        .gap(0.5)
			        .elasticY(true);
					break;
			}
			return chart.dimension(dimension).group(group).xUnits(xunit).x(x);
		}
	});
	
	// init sub modules
	function init(m){
		if (modules[m]['count'] == 0){

			fields = modules[m]['fields'];
	
			// prepare HTML content
			$("#svg-box").append($('<div id="svg-box-' + m + '" class="svg-box">'));
			$("#svg-box").append($('<div style="clear:both">'));
			var strhtml = '<div class="select-fields">Pick different fields for ';
			for (i = 0; i < fields.length; i++) {
				c = fields[i];
				if (c.slice(-1) == '-')
					c = c.slice(0,-1);
				var multiple = (c == 'fields') ? 'multiple="multiple"' : '';
				strhtml +=  c + ' <select size="2" class="multiselect multiselect-' + m + '" id="ex-' + m + '-' + c + '" ' + multiple + '></select> ';
			}
			strhtml += '</div>';
			$("#svg-box-" + m).prepend(strhtml);
			
			for (i = 0; i < fields.length; i++) {
				c = fields[i];
				
				if (c.slice(-1) == '-'){
					c = c.slice(0,-1);
					$('#ex-' + m + '-' + c).append($('<option value="none">').append("none"));
				}
			
			    if (typeof modules[m]['variables'][c] === "string"){
			        for (k = 0; k < keys.length; k++) {
			            var selected = (modules[m]['variables'][c] == keys[k]) ? ' selected ' : '';
					    $('#ex-' + m + '-' + c).append($('<option value="'+keys[k]+'" '+ selected +'>').append(keys[k]));
			        }
			    }
			    else if (typeof modules[m]['variables'][c] === "object"){
			        for (k = 0; k < keys.length; k++) {
			            var selected = (modules[m]['variables'][c].indexOf(keys[k]) >= 0) ? ' selected ' : '';
					    $('#ex-' + m + '-' + c).append($('<option value="'+keys[k]+'" '+ selected +'>').append(keys[k]));
			        }
			    }
			    else{
			        for (k = 0; k < keys.length; k++) {
			            var selected = '';
			            modules[m]['variables'][c] = '';
			            if (c == keys[k]){
    						selected = 'selected';
    						modules[m]['variables'][c] = c;
    					}
					    $('#ex-' + m + '-' + c).append($('<option value="'+keys[k]+'" '+ selected +'>').append(keys[k]));
			        }
			    }
			}
			
			// setup multiselect - if needed
			$('.multiselect-' + m).multiselect({
				numberDisplayed: 4,
				includeSelectAllOption: true,
				onDropdownHidden: function(event) {
					iid = event.target.previousSibling.id;
					itext = $("#" + iid).val();
					iid = iid.split('-');
					if (itext != modules[iid[1]]['variables'][iid[2]]) { 
						modules[iid[1]]['variables'][iid[2]] = itext;
						for (key in modules[iid[1]]['variables']){
							if (modules[iid[1]]['variables'][key] == '')
								return;
						}
						
						//update URL
						update_url();
						
						window[iid[1] + "_draw"]();
						//init_svg_conversion();
					}
		        }
			});
			for (key in modules[m]['variables']){
				if (modules[m]['variables'][key] == ''){
					modules[m]['count']++;
					return;
				}
			}
			window[m + "_draw"]();
			//init_svg_conversion();
		}
		modules[m]['count']++;
	}
	
	
	function update_url(){
	    var modules_out = {};
		for (var m in modules){
		    if (m == "dashboard") {
		        continue;
		    }
		    if (modules[m]['visible'] && Object.keys(modules[m]['variables']).length > 0){
		        modules_out[m] = modules[m]['variables'];
		    }
		}
		
        var key = 'modules';
	    var value = JSON.stringify(modules_out);
        key = encodeURI(key); value = encodeURI(value);
        var kvp = document.location.href.split('&');
        var i = kvp.length; var x; 
        while(i--) {
            x = kvp[i].split('=');
            if (x[0]==key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }
    
        if(i<0) {
            kvp[kvp.length] = [key,value].join('=');
        }
        //update URL without reloading the page
        window.history.pushState('Update', 'Title', kvp.join('&'));
    }
    
</script>

{% endblock %}
