{% extends "layout.html" %} {% block title %}Google Map{% endblock %} {%
block body %}
  

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
<style>
	#map.fullscreen{
		width:100%;
		height:100%;
	}
	#map{
		width:800px;
		height:800px;
	}
	#main-container{
		width:800px;
		height:800px;
	}
	
	#main-container.fullscreen{
		position: fixed;
		left: 0px;
		top: 0px;
		margin-left: 0px;
		width: 100%;
		height: 100%;
		z-index: -100;
	}
	#side-container.fullscreen{
		position: fixed;
		left: 10px;
		display: block;
		top:100px;
	}
	h1.fullscreen{
		left: 10px;
		position: fixed;
	}
	
	.pp-slider {
		width: 150px;
		float: left;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		height: 30px;
	}
	
	.pp-slider .pp-slider-scale {
		background-color: #000;
		height: 1px;
		border-bottom: 1px solid #aaa;
		width: 120px;
		margin-top: 14px;
		float: left;
	}
	
	.pp-slider .pp-slider-scale .pp-slider-button {
		width: 12px;
		border-radius: 2px;
		border: 1px solid #000;
		height: 16px;
		position: relative;
		top: -7px;
		left: 0px;
		background-color: #eee;
		cursor: pointer;
	}
	
	.pp-slider .pp-slider-scale .pp-slider-button .pp-slider-divies {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		position: relative;
		left: 3px;
		top: 3px;
		width: 4px;
		height: 10px;
	}
	
	.pp-slider .pp-slider-scale .pp-slider-button:hover {
		border-color: #000;
		background-color: #a1c4fe;
	}
	
	.pp-slider .pp-slider-scale .pp-slider-tooltip {
		width: 24px;
		height: 20px;
		position: relative;
		top: -5px;
		left: 0px;
		text-align: center;
		font-size: 12px;
		color: #000;
	}
	
	.pp-slider .pp-slider-min {
		float: left;
		width: 40px;
		color: #000;
		font-size: 20px;
	}
	.pp-slider .pp-slider-min span{
		padding:4px;
	}
	
	#slider-container{
		padding: 10px;
		margin-top:-65px;
		z-index: 10000;
		position: absolute;
		width: 100%;
	}
	#slider-time{
		font-size:120%;
		color:#fff;
		font-weight:bold;
		padding:2px;
	}
	.clickable{
		cursor: pointer;
	}
</style>
<h1>Explore Google Map</h1>

<div id="container" class="container">
	<div id="main-container">
		<div id="map"></div>
		{{div_slider}}
	</div>
	<div id="side-container">
		<div class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
		<div class="side-container" id="side-container-0">{{title}}</div>
		<div class="side-container" id="side-container-1">
			{{div_slider_counter}}
			<p><span><label><input type="checkbox" id="fullscreen">Full Screen</label></span></p>
			
		</div>
		<div class="side-container" id="side-container-2">
			Built with <a href="http://d3js.org/">d3.js</a>
		</div>
	</div>
</div>


<script>

	d3.select("#fullscreen").on("change", fullscreen);
	var entries = {}, map=undefined, heatmap, dt = 0, dx, keys;
	
	function fullscreen(){
		$('#container div').toggleClass('fullscreen');
		$('h1').toggleClass('fullscreen');
		$('#search-box-top-container').toggle();
		map = undefined; //centering needs to be done again!
		drawmap();
	}

	
	function drawmap(){  
		var t = keys[Math.floor(dt)];
		$('#slider-time').html(t);
		
		if (map === undefined){
		    var clat = d3.mean(entries[t], function(d){ return +d.latitude;});
		    var clong = d3.mean(entries[t], function(d){ return +d.longitude;});
			
	  		map = new google.maps.Map($('#map')[0], {
	    		zoom: 13,
	    		panControl: false,
				overviewMapControl:true,
				streetViewControl:false,
	    		zoomControl: true,
	    		zoomControlOptions: {
	      			style: google.maps.ZoomControlStyle.SMALL,
	      			position: google.maps.ControlPosition.RIGHT_TOP
	    		},
	    		center: new google.maps.LatLng(clat, clong),
	    		styles: [{'stylers': [{'saturation': -90},{'lightness': -5}]}]
			});
	  		heatmap = new google.maps.visualization.HeatmapLayer({
	    		radius: 15,
	    		opacity: 1,
	    		map: map
	  		});
		}
		
		var taxiData = new google.maps.MVCArray();
      	heatmap.setData(taxiData);
      	
		if (t in entries){
			var entry;
	      	for (var i = 0; i < entries[t].length; i++) {
	        	entry = entries[t][i];
	        	var latlong = new google.maps.LatLng(entry.latitude, entry.longitude);
	        	taxiData.push({location: latlong, weight: entry.count });
	      	}	
		}
	}
    // wrapped - just in case it conflicts with other jquery methods.
	(function($) {

		var PPSliderClass = function(el, opts) {
			var element = $(el);
			var options = opts;
			var isMouseDown = false;
			var currentVal;

			element.wrap('<div/>')
			var container = $(el).parent();

			container.addClass('pp-slider');
			container.addClass('clearfix');

			container.append('<div class="pp-slider-min"><span id="slider-rewind" class="clickable">&laquo;</span><span id="slider-play" class="clickable">&rsaquo;</span></div><div class="pp-slider-scale"><div class="pp-slider-button"><div class="pp-slider-divies"></div></div><div class="pp-slider-tooltip"></div></div>');

			if (typeof (options) != 'undefined'
					&& typeof (options.hideTooltip) != 'undefined'
					&& options.hideTooltip == true) { 
				container.find('.pp-slider-tooltip').hide();
			}

			if (typeof (options.width) != 'undefined') {
				container.css('width', (options.width + 'px'));
			}
			container.find('.pp-slider-scale').css('width',(container.width() - 50) + 'px');

			var startSlide = function(e) {
				isMouseDown = true;
				var pos = getMousePosition(e);
				startMouseX = pos.x;

				lastElemLeft = ($(this).offset().left - $(this).parent().offset().left);
				updatePosition(e);

				return false;
			};

			var getMousePosition = function(e) {
				//container.animate({ scrollTop: rowHeight }, options.scrollSpeed, 'linear', ScrollComplete());
				var posx = 0;
				var posy = 0;

				if (!e)
					var e = window.event;

				if (e.pageX || e.pageY) {
					posx = e.pageX;
					posy = e.pageY;
				} else if (e.clientX || e.clientY) {
					posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
					posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
				}

				return {'x' : posx,'y' : posy};
			};

			var updatePosition = function(e) {
				var pos = getMousePosition(e);
				var spanX = (pos.x - startMouseX);

				var newPos = (lastElemLeft + spanX)
				var upperBound = (container.find('.pp-slider-scale').width() - container.find('.pp-slider-button').width());
				newPos = Math.max(0, newPos);
				newPos = Math.min(newPos, upperBound);
				currentVal = (newPos / upperBound) * 100;
				currentVal = currentVal.toFixed(2);

				container.find('.pp-slider-button').css("left", newPos);
				container.find('.pp-slider-tooltip').html(currentVal + '%');
				container.find('.pp-slider-tooltip').css('left', newPos - 6);
			};

			var moving = function(e) {
				if (isMouseDown) {
					updatePosition(e);
					return false;
				}
			};

			var initPosition = function(v) {
				currentVal = dx(v).toFixed(2);
				var upperBound = (container.find('.pp-slider-scale').width() - container.find('.pp-slider-button').width());
				var newPos = currentVal * upperBound / 100;
				container.find('.pp-slider-button').css("left", newPos);
				container.find('.pp-slider-tooltip').html(currentVal + '%');
				container.find('.pp-slider-tooltip').css('left', newPos - 6);
				dt = v;
				drawmap();
			};

			var dropCallback = function(e) {
				isMouseDown = false;
				element.val(currentVal);
				dt = dx.invert(currentVal);
				drawmap();
			};
			
			var pause = true, intervalId;
			var play = function(e) {
				if (pause){
					pause = false;
					$('#slider-play').html('<span style="font-size:85%;letter-spacing:.02px;">||</span>');
					intervalId = setInterval(function() {
						if (dx(1+dt) < 100)
							initPosition(1+dt);
						else {
							stop(e);
							initPosition(dx.invert(100));
						}
					}, Math.floor(10000/(keys.length+1)));
				}
				else
					stop(e);
			}
			var stop = function(e) {
				$('#slider-play').html('&rsaquo;');
				pause = true;
				clearInterval(intervalId);
			}

			container.find('.pp-slider-button').bind('mousedown', startSlide);

			$(document).mousemove(function(e) { moving(e); });
			$(document).mouseup(function(e) { dropCallback(e); });
			$('#slider-play').click(function(e){ play(e); });
			$('#slider-rewind').click(function(e) { initPosition(0);});

			initPosition(0);

		};

		$.fn.PPSlider = function(options) {
			var opts = $.extend({}, $.fn.PPSlider.defaults, options);
			return this.each(function() {
				new PPSliderClass($(this), opts);
			});
		}
		$.fn.PPSlider.defaults = {width : 150};
		
		
	})(jQuery);
	
	d3.csv("{{datfile}}", function (err, data) {
      	data.forEach(function (entry) {
        	entry.count = parseInt(entry.count, 10);
        	if (!(entry.t in entries))
        		entries[entry.t] = [];
        	entries[entry.t].push(entry);
	    });
      	keys = d3.keys(entries);
      	dx = d3.scale.linear().domain([0, keys.length-1]).range([0, 100]);
      	$("#slider").PPSlider({width : 780});
      	drawmap();
	});  
</script>

{% endblock %}

