{% extends "layout.html" %}
{% block title %}Crossfilter{% endblock %}
{% block body %}
<style>
.chart{
	width:800px;
  	display: inline-block;
  	height: 151px;
  	margin-bottom: 20px;
}
.chart div{
	padding:5px;
}
.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#flight-list .time {
  color: #999;
}

#flight-list .flight div {
  display: inline-block;
  width: 100px;
}

#flight-list div.distance,
#flight-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}
</style>
<script src="static/js/crossfilter.v1.min.js"></script>

<h1>Explore Crossfilter</h1>

<div id="container" class="container">
<div id="main-container" style="width:800px;">{{divs}}</div>
<div  id="side-container">
<div  class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
<div class="side-container" id="side-container-0">{{title}}</div>
<div class="side-container" id="side-container-1"  >
<p id="totals"><span id="active"></span> of <span id="total"></span> items selected.</p>
</div>


<div  class="side-container" id="side-container-2">Built with <a href="http://d3js.org/">d3.js</a></div>
</div>
</div>

<script>
var num_bins = 70;
var chart_width = 760;
d3.text("{{datfile}}", function(text) {
	var flights = d3.csv.parseRows(text);
	  // Various formatters.
  	var formatNumber = d3.format(",d"),
		str2int = function(d){return +d;},
		month2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, 0));},
		date2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, d[2]));},
		time2int = function(d){ d = d.split(/[- :]/);  return new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);};

	function isNumber(n) {
		return !isNaN(parseFloat(n)) && isFinite(n);
	}
	

	var sr = flights[1];
  	var charts = [];
  	var flight = crossfilter(flights), all = flight.groupAll();
  	
  	var flightId = flight.dimension(function(d){return d[0];});
  	flightIds = flightId.group()
  	
	for (j = 1; j < sr.length; j++){
		var parseX = str2int;
		var type = 0; 
		if (isNumber(sr[j])){
			parseX = str2int;
			type = 1;//int
		}
		else {
			var lx = sr[j].split(/[- :]/).length;
			type = 3; // date
			if (lx >=6)
				parseX = time2int;
			else if (lx >= 3)
				parseX = date2int;
			else if (lx >= 2)
				parseX = month2int;
		}
		var row = flight.dimension(function(d) { return parseX(d[j]); });
		
		var maxX = parseX(sr[j]), minX = parseX(sr[j]);
		for (i = 1; i < flights.length; i++){
			maxX  = Math.max(maxX, parseX(flights[i][j]));
			minX  = Math.min(minX, parseX(flights[i][j]));
		}
		var dxx = ((maxX-minX)/num_bins);
		var groupint = function(d){return Math.floor(d / dxx) * dxx;}
		
		if (type == 3) {
			var group = row.group(function(d) { return groupint(d); });
			var bar = barChart()
		        .dimension(row)
		        .group(group)
		        .round(d3.time.day.round)
		      	.x(d3.time.scale().domain([minX, maxX]).rangeRound([0, chart_width]));
			 charts.push(bar);
		}
		else {
			var group = row.group(function(d) { return groupint(d); });
			var bar = barChart()
        	.dimension(row)
        	.group(group)
        	.x(d3.scale.linear()
        			.domain([minX-0.1*Math.abs(minX), maxX+0.1*Math.abs(maxX)])
        			.rangeRound([0, chart_width]))
			charts.push(bar);
			
		}
		
		var lastFilterArray = [];
		flights.forEach(function(d, i){
			lastFilterArray[i] = 1;
		});
			
		
  }

  // Given our array of charts, which we assume are in the same order as the
  // .chart elements in the DOM, bind the charts to the DOM and render them.
  // We also listen to the chart's brush events to update the display.
  var chart = d3.selectAll(".chart")
      .data(charts)
      .each(function(chart) { chart.on("brush", renderAll).on("brushend", renderAll); });

   // Render the total.
  d3.selectAll("#total").text(formatNumber(flight.size()));

  renderAll();

  // Renders the specified chart or list.
  function render(method) { d3.select(this).call(method);}



	
  // Whenever the brush moves, re-rendering everything.
  function renderAll() {
	chart.each(render);
    d3.select("#active").text(formatNumber(all.value()));
    
    
    var filterArray = flightIds.all();
	filterArray.forEach(function(d, i){
		if (d.value != lastFilterArray[i]){
			lastFilterArray[i] = d.value;
		}
	})
	
  }

  window.filter = function(filters) {
    filters.forEach(function(d, i) { 
    	charts[i].filter(d); 
    });
    renderAll();
  };

  window.reset = function(i) {
    charts[i].filter(null);
    renderAll();
  };

 
  function barChart() {
    if (!barChart.id) barChart.id = 0;

    var margin = {top: 10, right: 10, bottom: 20, left: 10},
        x,
        y = d3.scale.linear().range([100, 0]),
        id = barChart.id++,
        axis = d3.svg.axis().orient("bottom"),
        brush = d3.svg.brush(),
        brushDirty,
        dimension,
        group,
        round;

    function chart(div) {
      var width = x.range()[1],
          height = y.range()[0];

      var temp = group.top(1);
      y.domain([0, group.top(1)[0].value]);

      div.each(function() {
        var div = d3.select(this),
            g = div.select("g");

        // Create the skeletal chart.
        if (g.empty()) {
          div.select(".title").append("a")
              .attr("href", "javascript:reset(" + id + ")")
              .attr("class", "reset")
              .text("reset")
              .style("display", "none");

          g = div.append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          g.append("clipPath")
              .attr("id", "clip-" + id)
            .append("rect")
              .attr("width", width)
              .attr("height", height);

          g.selectAll(".bar")
              .data(["background", "foreground"])
            .enter().append("path")
              .attr("class", function(d) { return d + " bar"; })
              .datum(group.all());

          g.selectAll(".foreground.bar")
              .attr("clip-path", "url(#clip-" + id + ")");

          g.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + height + ")")
              .call(axis);

          // Initialize the brush component with pretty resize handles.
          var gBrush = g.append("g").attr("class", "brush").call(brush);
          gBrush.selectAll("rect").attr("height", height);
          gBrush.selectAll(".resize").append("path").attr("d", resizePath);
        }

        // Only redraw the brush if set externally.
        if (brushDirty) {
          brushDirty = false;
          g.selectAll(".brush").call(brush);
          div.select(".title a").style("display", brush.empty() ? "none" : null);
          if (brush.empty()) {
            g.selectAll("#clip-" + id + " rect")
                .attr("x", 0)
                .attr("width", width);
          } else {
            var extent = brush.extent();
            g.selectAll("#clip-" + id + " rect")
                .attr("x", x(extent[0]))
                .attr("width", x(extent[1]) - x(extent[0]));
          }
        }

        g.selectAll(".bar").attr("d", barPath);
      });

      function barPath(groups) {
        var path = [],
            i = -1,
            n = groups.length,
            d;
        while (++i < n) {
          d = groups[i];
          path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
        }
        return path.join("");
      }

      function resizePath(d) {
        var e = +(d == "e"),
            x = e ? 1 : -1,
            y = height / 3;
        return "M" + (.5 * x) + "," + y
            + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
            + "V" + (2 * y - 6)
            + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
            + "Z"
            + "M" + (2.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8)
            + "M" + (4.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8);
      }
    }

    brush.on("brushstart.chart", function() {
      var div = d3.select(this.parentNode.parentNode.parentNode);
      div.select(".title a").style("display", null);
    });

    brush.on("brush.chart", function() {
      var g = d3.select(this.parentNode),
          extent = brush.extent();
      if (round) g.select(".brush")
          .call(brush.extent(extent = extent.map(round)))
        .selectAll(".resize")
          .style("display", null);
      g.select("#clip-" + id + " rect")
          .attr("x", x(extent[0]))
          .attr("width", x(extent[1]) - x(extent[0]));
      dimension.filterRange(extent);
    });

    brush.on("brushend.chart", function() {
      if (brush.empty()) {
        var div = d3.select(this.parentNode.parentNode.parentNode);
        div.select(".title a").style("display", "none");
        div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
        dimension.filterAll();
      }
    });

    chart.margin = function(_) {
      if (!arguments.length) return margin;
      margin = _;
      return chart;
    };

    chart.x = function(_) {
      if (!arguments.length) return x;
      x = _;
      axis.scale(x);
      brush.x(x);
      return chart;
    };

    chart.y = function(_) {
      if (!arguments.length) return y;
      y = _;
      return chart;
    };

    chart.dimension = function(_) {
      if (!arguments.length) return dimension;
      dimension = _;
      return chart;
    };

    chart.filter = function(_) {
      if (_) {
        brush.extent(_);
        dimension.filterRange(_);
      } else {
        brush.clear();
        dimension.filterAll();
      }
      brushDirty = true;
      return chart;
    };

    chart.group = function(_) {
      if (!arguments.length) return group;
      group = _;
      return chart;
    };

    chart.round = function(_) {
      if (!arguments.length) return round;
      round = _;
      return chart;
    };

    return d3.rebind(chart, brush, "on");
  }
});

</script>
{% endblock %}