{% extends "layout.html" %}
{% block title %}Mashed Series{% endblock %}
{% block body %}

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery-ui.min.js"></script>

<style>
aside {
  font-size: small;
  position: absolute;
  width: 180px;
  	left:100px;
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
	border: 0px;
	margin-left: 145px;
	margin-top: 20px;
}

aside p{
 padding:10px;
}


#blur p.gold_mark{
	background: #B59D47;
	padding:5px;
	margin:0px;
}

#blurb h2{
	background: #4682B4;
	padding:5px;	
	margin:0px;
	text-align:center;
}
#blurb p{
	background: #B1DCFE;
	padding:10px;
	margin:0px;
}

#blurb {

}
#blurb .h2{
	margin:2px;
}

path {
    stroke: #bbb;
    stroke-width: 1.1;
	fill: none;
}

path.current, path.highlight.current {
    stroke: steelblue;
    stroke-width: 1.7;
    z-index=1000;
}

line {
    stroke: black;
}
.axis {
    stroke-width: 0.8;
}
.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}
</style>

<div id="container">
    <h1>Explore Mashed Series</h1>	
    <div id="main-container">
    	<aside id="blurb" class="float">
        	<div >
                <div id="blurb-content">
                	<h2>Field</h2><p>Trend over time.</p>
                </div>
            </div>
        </aside>
    <div id="svg-box"></div>
    </div>
    <div  id="side-container">
        <div  class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
        <div class="side-container" id="side-container-0">{{title}}</div>
        <div class="side-container" id="side-container-1"  >
        	<p>Plots multi-dimensional series as string of lines.
        </div>
        <div  class="side-container" id="side-container-2">Built with <a href="http://d3js.org/">d3.js</a>.</div>
    </div>
</div>


<script>

var limit = typeof limit !== 'undefined' ? limit : 100;
var temp = d3.select("svg").remove();
var w = 960, h = 500, margin = 35, mleft = 100;
var startEnd = {}, dataCodes = {}, formatX = Math.round;

var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));
d3.text('{{datfile}}', 'text/csv', function(text) {
    var data = d3.csv.parseRows(text);
    var yformat = d3.format("e");
    var years = data[0].slice(1, data[0].length);
    
 	// identify x axis
    function isNumber(n) {
		return !isNaN(parseFloat(n)) && isFinite(n);
	}	
	var str2int = function(d){return +d;};
	var month2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, 0));};
	var date2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, d[2]));};
	var time2int = function(d){ d = d.split(/[- :]/);  return new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);};
	var parseX = str2int, type = 1, tickformat = d3.format('f');
	if (!isNumber(years[0])){
		var lx = years[0].split(/[- :]/).length;
		if (lx >= 6)
			parseX = time2int;
		else if (lx >= 3)
			parseX = date2int;
		else if (lx >= 2)
			parseX = month2int;
		type = 3;
		tickformat = d3.time.format("%Y-%m-%d");
		formatX = function(d){return $.datepicker.formatDate('yy-mm-dd',d);};
	} 	
	years.forEach(function(d, i){ years[i] = parseX(d);});
    var endAge = d3.max(data.slice(1, data.length), function(array) {return d3.max(array.slice(1, array.length), function(d){return +d;});}),
		startAge= d3.min(data.slice(1, data.length), function(array) {return d3.min(array.slice(1, array.length), function(d){return +d;});}),
		startYear = years[0],
		endYear =  years[years.length-1];
    
	if (type == 1)
 		var x = d3.scale.linear().domain([startYear, endYear]).range([0, w-margin-mleft]);
	else				
		var x = d3.time.scale().domain([startYear, endYear]).range([0, w-margin-mleft]);
	var y = d3.scale.linear().domain([endAge, startAge]).range([0 + margin, h - margin]);
	
	var vis = d3.select("#svg-box")
	    .append("svg:svg")
	    .attr("width", w)
	    .attr("height", h)
	    .append("svg:g")
	    .attr("transform", "translate(" + mleft + ", 0)");
	
				
	var line = d3.svg.line()
	    .x(function(d,i) { return x(d.x); })
	    .y(function(d) { return y(d.y); });
        
    for (i=1; i < data.length; i++) {
        var values = data[i].slice(1, data[i].length);
        var currData = [];
        dataCodes[data[i][0]] = data[i][0];
        
        var started = false;
        for (j=0; j < values.length; j++) {
            if (values[j] != '') {
                currData.push({ x: (years[j]), y: +values[j] });
            
                if (!started) {
                    startEnd[data[i][0]] = { 'startYear': (years[j]), 'startVal': +values[j] };
                    started = true;
                } else if (j == values.length-1) {
                    startEnd[data[i][0]]['endYear'] = (years[j]);
                    startEnd[data[i][0]]['endVal'] = +values[j];
                }
                
            }
        }
        vis.append("svg:path")
            .data([currData])
            .attr("datum", data[i][0])
            .attr("d", line)
            .on("mouseover", onmouseover)
            .on("mouseout", onmouseout);
    }

				
	var yAxis = d3.svg.axis()
    	.scale(y)
    	.orient('left')
    	.ticks(5)
    	.tickFormat(yformat)
    	.tickPadding(8);


	var xAxis = d3.svg.axis()
    	.scale(x)
    	.orient('bottom')
    	.ticks(5)
    	.tickFormat(tickformat)
    	.tickPadding(8);
	
	vis.append('svg:g')
    	.attr('class', 'x axis')
    	.attr('transform', 'translate(0, ' + (h - margin) + ')')
    	.call(xAxis);
	
	vis.append('svg:g')
	  	.attr('class', 'y axis')
	  	.call(yAxis);

	spinner.stop();
	init_svg_conversion();
});  
    


function onclick(d, i) {
    var currClass = d3.select(this).attr("class");
    if (d3.select(this).classed('selected')) {
        d3.select(this).attr("class", currClass.substring(0, currClass.length-9));
    } else {
        d3.select(this).classed('selected', true);
    }
}

function onmouseover(d, i) {
    var currClass = d3.select(this).attr("class");
    d3.select(this)
        .attr("class", currClass + " current");
    
    var dataCode = $(this).attr("datum");
    var countryVals = startEnd[dataCode];
    var percentChange = 100 * (countryVals['endVal'] - countryVals['startVal']) / countryVals['startVal'];
    
    var blurb = '<h2>' + dataCodes[dataCode] + '</h2>';
    blurb += "<p>On average: a average count of " + Math.round(countryVals['startVal']) + " times in " + formatX(countryVals['startYear']) + " and " + Math.round(countryVals['endVal']) + " times in " + formatX(countryVals['endYear']) + ", ";
    if (percentChange >= 0) {
        blurb += "an increase of " + Math.round(percentChange) + " percent."
    } else {
        blurb += "a decrease of " + -1 * Math.round(percentChange) + " percent."
    }
    blurb += "</p>";
    
    $("#blurb-content").html(blurb);
    $("#blurb").fadeIn();
}
function onmouseout(d, i) {
    var currClass = d3.select(this).attr("class");
    var prevClass = currClass.substring(0, currClass.length-8);
    d3.select(this).attr("class", prevClass);
   // $("#blurb").fadeOut('slow');
}
</script>

{% endblock %}