{% extends "layout.html" %} {% block title %}Explore{% endblock %} {%
block body %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="static/js/nv.d3.min.js"></script>
<link href="static/css/nv.d3.css" rel="stylesheet" type="text/css">

<script src="static/js/crossfilter.js"></script>
<script src="static/js/dc.js"></script>
<link href="static/css/dc.css" rel="stylesheet" type="text/css">

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&sensor=false&libraries=visualization"></script>

<script type="text/javascript" src="static/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="static/css/bootstrap-multiselect.css" type="text/css"/>

<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="static/css/rickshaw.min.css">
<link type="text/css" rel="stylesheet" href="static/css/extensions.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="static/js/rickshaw.min.js"></script>
<script src="static/js/extensions.js"></script>	

<script src="static/js/ex.word.js"></script>	
<script src="static/js/d3.layout.cloud.js"></script>

<style>

#container {
	margin:0 auto;
	display:inline-block;
	text-align:left;
}

#ex-sidebar{
	width:100px;
}
#side-container {
	width: 110px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding:0px;
}
#svg-box .svg-box{
	width:960px;
	float:left;
}
.side-container{
	width:200px;
	float:left;
}

.ex-nav .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}
.ex-nav li {
	float: right;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #fff;
	color:#000;
}
.ex-nav li a{
	color:#000;
}
#top{
	background:none;
}
.btn {
	padding: 2px 10px;
	font-size: 12px;
}

.ex-nav li a.sidebar-on{
	color:#fff;
	background:#00b9e7;
}
.svg-box{
	margin-bottom: 10px;
}
.title{
	padding: 5px 5px 5px 0px;
	background: #eee;
}
.select-fields{
	padding:5px;
	background: #eee;
}

a.g-collapse {
	color: #000;
	padding: 5px;
	margin-right: 10px;
}
a.g-collapse:hover, a.g-collapse.off{
	background: #00b9e7;
	color: #fff;
}
.svg-box div.chart, .svg-box div.dc-chart{
  	padding:0px;
  	margin-bottom: 10px;
}
.dc-chart{
	margin-left:2px;
}
.chart div{
	padding:5px;
}
.select-charts{
	float: right;
}

	#svg-box-series.svg-box{
		width:940px;
	}
	.rickshaw_graph .x_tick .title {
		opacity:1;
		margin-left: 3px;
		bottom: -10px;
	}
    .ui-slider .ui-slider-handle {
		width: 12px; border-radius: 2px; 
		border: 1px solid #adadad; height: 16px; 
		background-color: #efefef; cursor: pointer; 
	}
	.ui-slider-horizontal {
		 background-color: #aaa; height: 1px; border-bottom: 1px solid #efefef;
	}

	#side-container-4{
		background:#cbcbcb;
		padding:0px;
		font-size:10px;
		width:240px;
		font-size:10px;
	}
	#side_panel{
		padding: 5px;
	}
	section{
		border:0px;
		padding:2px 0;
	}
	#series-legend{
		background:inherit;
		height:inherit;
	}
	#offset_form label, #interpolation_form  label{
		margin-bottom: 1px;
		font-weight: 100;
	}
	#offset_form label span, #interpolation_form label span{
		padding-left: 42px;
	}
	.rickshaw_graph .detail .x_label{
		background:#00b9e7;
		opacity:0.5;
	}

</style>
<a name="top" ></a>

<div id="container" style="width:1300px; margin:0 auto;">
<h1>Explore Dashboard</h1>
<div class="col-md-1">
  <ul class="nav ex-nav" id="ex-sidebar" data-spy="affix" data-offset-top="40" ></ul>
</div>
<div class="col-md-11" role="main">
	<div id="ex-main-container">
		<div id="svg-box">
		<div id="svg-box-dashboard" class="svg-box"></div>
		<div class="side-container {{message_class}}" id="side-container-3">
		{{message}} <p>You may download the data file <a href="{{datfile}}" title="Data file">here</a>. 
		</div>
		<div class="side-container" id="side-container-0">{{title}}</div>
		<div id="dashboard-side-container-m" class="side-container side-container-1"></div>
		<div style="clear:both"></div>
		</div>
	</div>
</div>
</div>


<script>
	var bigdata,
		keys = [],
		modules = {'calendar':{'icon': 'calendar', 'fields':['date']},
					'map_heatmap':{'icon': 'globe', 'fields':['latitude', 'longitude']},
					'map_scatter':{'icon': 'flag', 'fields':['latitude', 'longitude', 'size', 'group', 'text-']},
					'series':{'icon': 'flash', 'fields':['Xaxis', 'fields']},
					'scatter':{'icon': 'th', 'fields':['Xaxis', 'Yaxis', 'Group']},
					'word':{'icon': 'text-height', 'fields':['Text']},
					'line':{'icon': 'flash', 'fields':['Xaxis', 'fields']}
					};
	
	d3.csv("{{datfile}}", function(error, data) {
		
		//sidebar
		for (m in modules){
			$('#ex-sidebar').append('<li class=""><a title="'+ m +'" href="#ex-' + m + '" id="ex-' + m + '"><span class="glyphicon glyphicon-' + modules[m]['icon'] +  '"></span></a></li>');
			modules[m]['count'] = 0;
		}
		$('#ex-sidebar li a').click(function (){
			iid = $(this).attr('id');
			iid = iid.split('-');
			$('#svg-box-' + iid[1]).toggle();
			$('#' + iid[1] + '-side-container-m').toggle();
			$(this).toggleClass('sidebar-on');
			//init(iid[1]);
			$.getScript("static/js/ex." + iid[1] + ".js", function(){ init(iid[1]);})
		});
		$('#ex-sidebar').append('<li class=""><a href="javascript:window.scrollTo(0,0);" id="top" title="go to top"><span class="glyphicon glyphicon-home"></span></a></li>');
		
		//data
		data.forEach(function(d){ d.all = 1;})
		for (var key in data[0]) {
		    keys.push(key);
		}
		for (i = 0; i<data.length; i++){
			data[i].cf_id = i;
		}
		flight = crossfilter(data);
  		all = flight.groupAll();
		bigdata = data;

		//dashboard	
		modules['dashboard'] = {};
		var config = modules['dashboard']; 
		var chartNames = ['barChart', 'rowChart', 'pieChart'];
		config['DchartTypes'] = [];
		
		// title and chart types for each of the crossfilter charts
		for (j=0; j<keys.length; j++){
			if (keys[j] == 'all') continue;
			var strhtml = '<span class="select-charts">Pick a different <span class="dropdown">'
				+ '<a id="dropdown-chart-' + j + '" role="button" data-toggle="dropdown" href="#"> chart <span class="caret"></span></a>'
				+ '<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-chart-' + j + '" id="ex-dashboard-chart-' + j + '"></ul>'
				+ '</span></span>';
		
			$("#svg-box-dashboard")
				.append($('<div id="'+keys[j]+'-dchart">')
					.append($('<div class="title">')
						.append('<a class="g-collapse" href="#"><span class="glyphicon glyphicon-resize-small" title="collapse/expand"></span></a>')
						.append(keys[j])
						.append(' | Current filter: <span class="filter"></span>'
							+' | <a class="reset" href="javascript:reset(' + j + ');dc.redrawAll();" title="reset selections">reset</a>'
							+ strhtml)));
			for (i = 0; i < chartNames.length; i++) {
				$('#ex-dashboard-chart-' + j).append($('<li>').append($('<a href="#">').append(chartNames[i])));
			}
			config['DchartTypes'][j] = "barChart";
		}
		$(".select-charts .dropdown .dropdown-menu li a").click(function(){
			iid = $(this).parent().parent().attr('id');
			iid = iid.split('-'); iid = iid[3];
			config['DchartTypes'][iid] = $(this).text();
			var oldbar = charts[iid],
				chart = dc[$(this).text()]("#"+keys[iid]+"-dchart"),
				bar = draw_charts(chart, $(this).text(), oldbar.dimension(), oldbar.group(), oldbar.x(), oldbar.xUnits());
			bar.render(); 
		});
		$('#dashboard-side-container-m').html('<p id="totals"><span class="filter-count"></span> selected out of <span class="total-count"></span> records.</p>');
	
		// dc crossfilter charts	
		dc.dataCount("#totals").dimension(flight).group(all);
	  	var num_bins = 100, 
			charts = [],
			sr = data[0],
	  		str2str = function(d){return d;},
	  		str2int = function(d){return +d;},
	  		month2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, 0));},
	  		date2int = function(d){ d = d.split(/[- :]/); return (new Date(d[0], d[1]-1, d[2]));},
	  		time2int = function(d){ d = d.split(/[- :]/);  return new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);};
			isNumber = function (n) { return !isNaN(parseFloat(n)) && isFinite(n);},
			createChart = function(j, keys) {
				var k = keys[j], parseX = str2int, type = 1; // type1:int,type2:str,type3:date
				if (!isNumber(sr[keys[j]])){
					var lx = sr[keys[j]].split(/[- :]/).length;
					if (lx >=6){
						parseX = time2int;
						type = 3;
					}
					else if (lx >= 3) {
						parseX = date2int;
						type = 3;
					}
					else if (lx >= 2) {
						parseX = month2int;
						type = 3;
					}
					else {
						parseX = str2str;
						type = 2;
						config['DchartTypes'][j] = 'pieChart';
					}
				}
				
				var maxX = d3.max(data, function(d){return parseX(d[k]);}),
					minX = d3.min(data, function(d){return parseX(d[k]);}),
					dxx = ((maxX-minX)/num_bins),
					groupint = function(d){return Math.floor(d / dxx) * dxx;},
					xunit = function(start,stop,step){return (stop-start)/dxx},
				 	chartID = "#"+keys[j]+"-dchart",
					row = flight.dimension(function(d) { return parseX(d[k]); });
					
				if (type == 1) {
					group = row.group(function(d) { return groupint(d); });
					x = d3.scale.linear().domain([minX, maxX]);
				}else if (type == 3) {
					group = row.group(function(d) { return groupint(d); });
					x = d3.time.scale().domain([minX, maxX]); 
				}else if (type == 2){
					group = row.group();
					xunit = dc.units.ordinal;
					x = d3.scale.ordinal();
				}
				
				if (group.size() < 5) {
					config['DchartTypes'][j] = 'rowChart';
				}
				else if (group.size() < 20) {
					config['DchartTypes'][j] = 'pieChart';
				}
				var bar = dc[config['DchartTypes'][j]](chartID);
			 	return draw_charts(bar, config['DchartTypes'][j], row, group, x, xunit); 
			};
	  	for (j = 0; j < keys.length; j++){
	  		var cbar = createChart(j, keys);
			charts.push(cbar);
	  	}
	  	
	  	charts[0].renderlet(function(chart){
	  	    dc.events.trigger(function(){
	  	        for (key in modules){
	  	        	if (modules[key]['count']%2 == 1){
	  	        		window[key + "_update"]();
	  	        	}
	  	        }
	  	    });
	  	})
	  	
	  	// collapse button
	  	$('.g-collapse').click(function(){
	  		if($(this).hasClass('off')){
	  			$(this).html('<span class="glyphicon glyphicon-resize-small"></span>');
	  			$(this).parent().parent().find("svg").animate({height: 150}, 200);
	  		}
	  		else {
	  			$(this).html('<span class="glyphicon glyphicon-resize-full"></span>');
	  			$(this).parent().parent().find("svg").animate({height: 1}, 200);
	  		}
	  		$(this).toggleClass('off');
	  	});
	  	
		dc.renderAll();
		window.reset = function(i) {
		    charts[i].filter(null);
		};
		
		function draw_charts(chart, type, dimension, group, x, xunit) {
			switch(type){
				case 'rowChart':
					chart.height(150).width(478)
			        .margins({top: 20, left: 10, right: 10, bottom: 20})
			        .label(function (d) {return d.key;})
			        .title(function (d) {return d.value;})
			        .elasticX(true).xAxis().ticks(4);
					break;
				case 'pieChart':
					chart.slicesCap(8).innerRadius(30).radius(70).transitionDuration(500)
					.height(150).width(478).legend(dc.legend())
					.title(function (d) {return d.value;});
					break;
				default:
					chart.height(150).width(960)
			        .margins({top: 10, right: 10, bottom: 30, left: 50})
			        .centerBar(true)
			        .gap(0.5)
			        .elasticY(true);
					break;
			}
			return chart.dimension(dimension).group(group).xUnits(xunit).x(x);
		}
	});
	
	// load support views
	function init(m){
		if (modules[m]['count'] == 0){

			fields = modules[m]['fields'];
	
			// prepare HTML content
			$("#svg-box").append($('<div id="svg-box-' + m + '" class="svg-box">'));
			$("#svg-box").append($('<div style="clear:both">'));
			var strhtml = '<div class="select-fields">Pick different fields for ';
			for (i = 0; i < fields.length; i++) {
				c = fields[i];
				if (c.slice(-1) == '-')
					c = c.slice(0,-1);
				var multiple = (c == 'fields') ? 'multiple="multiple"' : '';
				strhtml +=  c + ' <select class="multiselect multiselect-' + m + '" id="ex-' + m + '-' + c + '" ' + multiple + '></select> ';
			}
			strhtml += '</div>';
			$("#svg-box-" + m).prepend(strhtml);
			
			// initialize options
			modules[m]['variables'] = {};
			
			for (i = 0; i < fields.length; i++) {
				c = fields[i];
				
				if (c.slice(-1) == '-'){
					c = c.slice(0,-1);
					$('#ex-' + m + '-' + c).append($('<option value="none">').append("none"));
				}
			
				modules[m]['variables'][c] = '';
				for (k = 0; k < keys.length; k++) {
					var selected = '';
					if (c == keys[k]){
						selected = 'selected';
						modules[m]['variables'][c] = c;
					}
					$('#ex-' + m + '-' + c).append($('<option value="'+keys[k]+'" '+ selected +'>').append(keys[k]));
				}
				
			}
			// setup multiselect - if needed
			$('.multiselect-' + m).multiselect({
				numberDisplayed: 4,
				includeSelectAllOption: true,
				onDropdownHidden: function(event) {
					iid = event.target.previousSibling.id;
					itext = $("#" + iid).val();
					iid = iid.split('-');
					if (itext != modules[iid[1]]['variables'][iid[2]]) { 
						modules[iid[1]]['variables'][iid[2]] = itext;
						for (key in modules[iid[1]]['variables']){
							if (modules[iid[1]]['variables'][key] == '')
								return;
						}
						window[iid[1] + "_draw"]();
					}
		        }
			});
			for (key in modules[m]['variables']){
				if (modules[m]['variables'][key] == ''){
					modules[m]['count']++;
					return;
				}
			}
			window[m + "_draw"]();
		}
		modules[m]['count']++;
	}

	
	
	
	
</script>

{% endblock %}
