{% extends "layout.html" %}
{% block title %}Raw{% endblock %}
{% block body %}

<script src="/static/js/jquery-1.10.2.min.js"></script>

<style>
.db-row{
	margin:10px;
	display:block;
	font-weight: 300;
	line-height: 2.1;
	clear:both;
	border-left: 1px solid #ddd;
	padding-left: 3px;
	word-wrap: break-word;
}
.db-row span{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	border:0px;
	
	min-height:15px;
	min-width:15px;
	padding:3px;
}
.db-entry-key{
	color: #333333;
	background: #a1c4fe;
	margin:0px;
	margin-top:5px;	
}

.db-entry-value{
	color: #000;
	background: #ddd;
	margin:0px;
	margin-top:5px;	
	margin-right:5px;
}
</style>


<div id="container">
    <h1>Explore Raw</h1>	
    <div id="main-container"><div id="svg-box"></div></div>
    <div  id="side-container">
    <div  class="side-container {{message_class}}" id="side-container-3">{{message}}</div>
    <div class="side-container" id="side-container-0">{{title}}</div>
    <div  class="side-container" id="side-container-2">Built with <a href="http://d3js.org/">d3.js</a>.</div>
    </div>
</div>


<script>
    var spinner = new Spinner(spinner_opts).spin(document.getElementById('svg-box'));
	d3.csv("{{datfile}}", function(error, data) {
		data.forEach(function(d,i) {
		     var entry = '<div class="db-row">';
		  	 for (j in d) {
		  	 	entry += '<span class="db-entry-key">' + j + '</span>';
		  	 	entry += '<span class="db-entry-value">' + d[j] + '</span>';
		  	 }
		  	 entry += '</div>';
		  	 $('#svg-box').append(entry);
		  });
		spinner.stop();init_svg_conversion();
	});

</script>

{% endblock %}