{% extends "layout.html" %} 
{% block title %} Start here ... {% endblock %}
{% block body %}

<style>
    #outer-container{
	    height: 100%;
		left: 0px;
		top: 0px;
		width: 100%;
		background: #222;
		margin: 50px 0;
		padding: 20px 0;
		
	}

	#inner-container {
	    background: url('static/images/logo.png') no-repeat;
	    background-position:20px 0px;
		text-align: center;
		width: 800px;
		display: inline-block;
		left: 50%;
		color:#bbb;
	}
	h1{
		color:#333;
	}
</style>
<div id="outer-container">
<div id="inner-container">

<p style="font-size:2em;"> Visualize relational data, on the fly!</p>
<p style="font-size:1.5em;"> GNoT combines powerful JS visualizations to a relational database</p>
</div>
</div>


	 
{% endblock %}
