{% extends "layout.html" %} {% block title %}GNoT{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<style>
    #outer-container{
	    height: 100%;
		left: 0px;
		top: 0px;
		width: 100%;
	}

	#inner-container {
		text-align: center;
		width: 800px;
		display: inline-block;
		margin-top: 100px;
		left: 50%;
		color:#bbb;
	}
	h1{
		color:#333;
	}
</style>
<div id="outer-container">
<div id="inner-container">
<h1>GN<span class="glyphicon glyphicon-plus-sign" style="font-size: 80%;"></span></span>T</h1>
</div>
</div>


	 
{% endblock %}
