<!doctype html>
<head>
    <title> GNoT | {% block title %}{% endblock %} </title>
    
    <!--load from cdns-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="/static/js/spin.min.js"></script>
    <link rel=stylesheet href=/static/css/style.css type=text/css>
    
    <script src="/static/js/parseuri.js" type="text/javascript"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    
    
    <!-- export svg -->
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script><script>
    	function init_svg_conversion(){
    	    $('.export_svg').remove();
    	    $('svg').before('<div class="export_svg"><a href="#" class="editor_save" title="Export this as an image"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a></div>');
            $(".editor_save").click(function() {
    
                // embedd css styles
                (function ($) {
                    var sheets = document.styleSheets;
                    var isheets = Object.keys(sheets).sort(function(a, b){return b-a});
                    for (var i=0; i < isheets.length; i++) {
                        isheet = isheets[i];
                        var rules = sheets[isheet].rules || sheets[isheet].cssRules;
                        if (!rules) continue;
                        for (var idx = 0, len = rules.length; idx < len; idx++) {
                            if (!rules[idx].selectorText || rules[idx].selectorText.indexOf('::') > -1)  continue;
                            $(rules[idx].selectorText).each(function (i, elem) {
                                //if (typeof elem.style.cssText !== 'string' || elem.style.cssText.length == 0)
                                    elem.style.cssText  = rules[idx].style.cssText + elem.style.cssText;
                            });
                        }
                    }
                })(jQuery);
    
                var canvas  = document.createElement('canvas');
                var svgString = new XMLSerializer().serializeToString($(this).parent().next()[0]);
                canvg(canvas, svgString,  { ignoreMouse: true, ignoreAnimation: true });
                window.location = canvas.toDataURL("image/png");
            });
    	}
    </script>
    
</head>

<body>
{% block body %}{% endblock %}

    <!-- visual search -->
    
    
    <div id="search-box-top-container">
     	<form id="form_module_tables" name="module_tables" action="render" method="get" target="_self">
        <div id="search_box_container"></div>
        <input id="form-submit" class="submit-button" type="submit" value="SUBMIT" name="submit" tabindex="12">
        <div id="search_query">&nbsp;</div>
    	<input id="query-input" type="hidden" name="query" value="">
    	</form>
    </div>
    
    <script src="/static/js/dependencies.js"></script>
    <script src="/static/js/visualsearch.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

    <!--[if (!IE)|(gte IE 8)]><!-->
      <link href="static/css/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lte IE 7]><!-->
      <link href="static/css/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <script type="text/javascript" src="static/js/search-box.js"></script>
    
    <style>
        .VS-search .search_facet input {
            height:20px;
        }
    </style>

</body>