

<style>
	.box {
  		font: 10px sans-serif;
	}

	.box line,
	.box rect,
	.box circle {
  		fill: #fff;
  		stroke: #000;
  		stroke-width: 1.5px;
	}

	.box .center {
  		stroke-dasharray: 3,3;
	}

	.box .outlier {
  		fill: none;
  		stroke: #ccc;
	}
	
	#svg-box-clusters svg{
		float:left;
	}
	#svg-box-clusters {
		display:block;
		width:960px;
        background:rgba(245, 245, 245, 0.952941);
		overflow:hidden;
		clear:both;
	}
    #svg-pca_matrix{
		display:block;
		width:960px;
        background:rgba(245, 245, 245, 0.952941);
		overflow:hidden;
		clear:both;
	}
</style>

{{pca_matrix_divs}}
<div class="side-container" id="side-container-r">{{results}}</div>

<link href="static/css/chart.css" rel="stylesheet" type="text/css">
<script src="static/js/box.js"></script>
<script src="static/js/chart.matrix.js"></script>
<script>

var clusters_box = function(){
    $('#svg-box').prepend($('<div id="svg-box-clusters">'));
    $('#svg-box').prepend($('#svg-pca_matrix'));
    $('h1').html('Explore K-Means');

    $('#side-container').append($('#side-container-r'));

	var margin = {top: 40, right: 20, bottom: 70, left: 90},
    	width = 120 - margin.left - margin.right,
    	height = 300 - margin.top - margin.bottom;

	var min = Infinity,
    	max = -Infinity;

	var chart = d3.box()
    	.whiskers(iqr(1.5))
    	.width(10)
    	.height(height);
    
    d3.csv("{{datfile}}", function(error, csv) {
  		var data = {};

  		csv.forEach(function(x) {
    		var clust = x.Cluster,
        		error = x.Error,
        		d = data[clust];
    		if (!d) d = data[clust] = [error];
    		else d.push(error);
    		if (error > max) max = error;
    		if (error < min) min = error;
  		});

  		chart.domain([min, max]);
  		var keys = d3.keys(data).sort();
  		var svg = d3.select("#svg-box-clusters").selectAll("svg")
  			.data(keys.map(function (d){return data[d];}))
      	 .enter()
      	 	.append("svg")
  			.attr("class", "box")
      		.attr("width", width + margin.left + margin.right)
      		.attr("height", height + margin.bottom + margin.top)
    	 .append("g")
      		.attr("transform", "translate(" + 60 + "," + margin.top + ")")
      		.call(chart)
      		.append("svg:text")
      		.text(function(d,i){
      			return keys[i];
      		})
      		.attr("dx", "-25px");
	});

     // Returns a function to compute the interquartile range.
	function iqr(k) {
 		return function(d, i) {
    		var q1 = d.quartiles[0],
        		q3 = d.quartiles[2],
        		iqr = (q3 - q1) * k,
        		i = -1,
        		j = d.length;
    		while (d[++i] < q1 - iqr);
   			while (d[--j] > q3 + iqr);
    		return [i, j];
  		};
	}
};
clusters_box();
file_pca_matrix = "{{datfile_matrix}}";
chart_matrix();
</script>
